.App {
  text-align: center;
  height: 100vh;
}

.card-container{
  width: 800px;
  height: 500px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(255,66,109,0.3);
}


.newItem{
  width: 80%;
}

.btn{
  margin-top: 20px;
  padding: 10px 30px;
  background-color: rgba(255,66,109,0.65);
  color: white;
  font-weight: 300;
  border-radius: 5px;

  cursor: pointer;
  transition: all 0.2s;
}
.btn:hover{
  background-color: rgba(255,66,109,0.85);
}

.left-box{
  width: 45%;
  background-color: rgba(255,66,109,0.85);
}
.logo-container{
  /*background-color: green!important;*/
}
.list-container, .edit-container{
  background-color: white;
  width: 55%;
  transition: all 0.5s;
  overflow-y: auto;
}

.deg45{
  transform: rotate(45deg);
}


.logo{
  width: 100px;
  margin-top: -20px;
}

.plus{
  width: 50px;
  cursor: pointer;
  opacity: 0.75;
  margin-top: 20px;
  transition: all 0.2s;
  /*position: absolute;*/
}
.plus:hover{
  opacity: 1;
}
